.main-footer {
  padding: 80px 0 30px;
  background-color: var(--color-main-bg);
  border-top: 1px solid var(--color-borders);
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 60px;
}

.footer-col {
  flex: 1 1 150px;
}

.brand-col {
  flex: 2 1;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-icon {
  width: 30px;
}

.logo-icon img {
  width: 100%;
}

.logo-text {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-heading-text);
}

.footer-desc {
  color: var(--color-text-p);
  line-height: 1.6;
  max-width: 280px;
  margin-bottom: 25px;
  font-size: 0.95rem;
}

.footer-col h4 {
  font-size: 1.1rem;
  color: var(--color-heading-text);
  margin-bottom: 25px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  text-decoration: none;
  color: var(--color-text-p);
  font-size: 0.95rem;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: var(--color-primary-brand);
  padding-left: 5px;
}

.footer-bottom {
  padding-top: 30px;
  border-top: 1px solid var(--color-borders);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-p);
  font-size: 0.85rem;
}

.bottom-links {
  display: flex;
  gap: 20px;
}

.bottom-links a {
  text-decoration: none;
  color: var(--color-text-p);
}

@media (max-width: 768px) {
  .footer-flex {
    flex-direction: column;
    text-align: center;
  }

  .brand-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer-desc {
    max-width: 100%;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}