 <section class="partners-section">
        <div class="main-container">
            <p class="partners-label">TRUSTED BY LEADING EDUCATION PARTNERS</p>
            <div class="partners-flex">
                <div class="partner-item">
                    <span class="partner-icon"><img src="assets/images/imgs/edu-tech.png"></span> EduTech
                </div>
                <div class="partner-item">
                    <span class="partner-icon"><img src="assets/images/imgs/unvirsity.png"></span> UniVerify
                </div>
                <div class="partner-item">
                    <span class="partner-icon"><img src="assets/images/imgs/scolar.png"></span> Scholar
                </div>
                <div class="partner-item">
                    <span class="partner-icon"><img src="assets/images/imgs/global-earn.png"></span> GlobalLearn
                </div>
                <div class="partner-item">
                    <span class="partner-icon"><img src="assets/images/imgs/icon.png"></span> Academica
                </div>
            </div>
        </div>
    </section>