.partners-section {
  padding: 40px 0;
  background-color: var(--color-main-bg);
  text-align: center;
}

.partners-label {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-text-p);
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.partners-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.partner-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text-p);
  filter: grayscale(100%);
  opacity: 0.7;
  transition: 0.3s;
}

.partner-item:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.partner-icon {
  width: 20px;
}
.partner-icon img {
  width: 100%;
}